.idea
.DS*
.git
.vscode
.DS_Store
backend/release/*
!backend/release/.gitkeep
!backend/release/config.sample.yaml
frontend/node_modules
frontend/yarn.lock
package/python_sdk/build
package/python_sdk/dist
package/python_sdk/armcnc.egg-info