[Unit]
Description=armcnc_display_off
After=multi-user.target

[Service]
Type=simple
User=sunrise
WorkingDirectory=/opt/armcnc/
Environment=DISPLAY=:0.0
ExecStart=/usr/bin/xrandr --output DSI-1 --off
Restart=on-failure

[Install]
WantedBy=multi-user.target
