[Unit]
Description=armcnc_display_on
After=syslog.target network.target

[Service]
Type=simple
User=sunrise
WorkingDirectory=/opt/armcnc/
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/sunrise/.Xauthority
ExecStart=/usr/bin/xrandr --output DSI-1 --auto
Restart=on-failure

[Install]
WantedBy=multi-user.target