[Unit]
Description=armcnc_display_on
After=syslog.target network.target

[Service]
Type=oneshot
User=sunrise
WorkingDirectory=/opt/armcnc/
ExecStart=/usr/bin/xrandr --output DSI-1 --autof
Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
