[Unit]
Description=armcnc_service
After=syslog.target network.target

[Service]
Type=simple
User=sunrise
WorkingDirectory=/opt/armcnc/
Environment="TERM=xterm-256color"
Environment=DISPLAY=:0.0
ExecStartPre=/usr/bin/xrandr --output DSI-1 --off
ExecStart=/opt/armcnc/backend/release/main service
Restart=on-failure

[Install]
WantedBy=multi-user.target