[Unit]
Description=armcnc_service
After=graphical.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/armcnc/
Environment="TERM=xterm-256color"
Environment=DISPLAY=:0.0
ExecStartPre=/usr/bin/sudo -E -u sunrise /usr/bin/xrandr --output DSI-1 --off
ExecStart=/opt/armcnc/backend/release/main service
Restart=on-failure

[Install]
WantedBy=display-manager.service