[Unit]
Description=armcnc_service
After=display-manager.service
Before=graphical.target
DefaultDependencies=no
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
User=root
WorkingDirectory=/opt/armcnc/
Environment="TERM=xterm-256color"
ExecStart=/opt/armcnc/backend/release/main service
Restart=always
RestartSec=1
Nice=-10
TimeoutStartSec=10

[Install]
WantedBy=display-manager.service