[Unit]
Description=armcnc_chromium
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
User=sunrise
WorkingDirectory=/opt/armcnc/
EnvironmentFile=/opt/armcnc/runtime/environment
Environment="TERM=xterm-256color"
Environment=DISPLAY=:0.0
ExecStart=/usr/bin/chromium-browser --disable-popup-blocking --no-first-run --disable-desktop-notifications --incognito --kiosk --disable-pinch "http://127.0.0.1:1088"
Restart=on-failure

[Install]
WantedBy=multi-user.target